<p>To give users some idea about how this format looks like when
specifying attributions, below are some examples of use:</p>

<p>The first example shows how to use this format to specify that the
repo includes an third party unadapted work. In this case, it is an
image file that can be found on the path
<code>images/griffin_head.jpg</code> in the project repo.  This image
is available for reuse under the <em>Creative Commons Attribitution 2.0</em> lisense.
To document its providence, there are URLS pointing to the source (on <em>Flickr</em>)
and the author's home page.</p>

<pre>
# Creative Commons (unadapted work)
images/griffin_head.jpg:
  type: asset
  approved: allowed license
  title: Griffin Head
  attributionText: Paul Keller
  attributionUrl: http://flickr.com/people/paulk/
  license: CC BY 2.0
  rights: http://creativecommons.org/licenses/by/2.0/deed.no
  source: http://flickr.com/photos/paulk/2062848161/
</pre>

<p>The second example show how a developer named “Kari Aas” includes
an <em>adapted</em> version of this image in the repo.  Because the
work is adapted, there are field that specifies metadata for the
original work, as well as the adapted version.</p>

<pre>
# Creative Commons (adapted work)
images/fantasy.jpg:
  type: asset
  approved: allowed license
  title: Fantasy
  attributionText: Kari Aaas
  license: CC BY 3.0
  rights: http://creativecommons.org/licenses/by-sa/3.0/no/
  source: http://flickr.com/photos/paulk/2062848161/
  originalTitle: Griffin Head
  orginalAttributionText: Paul Keller
  orginalattributionUrl: http://flickr.com/people/paulk/
  originalLicicense: CC BY 2.0
  originalRights: http://creativecommons.org/licenses/by/2.0/deed.no
</pre>

<p>In the third example, the assets included in the repo is a set of
protected logos owned by the <em>Creative Commons</em> organization,
and used in compliance with
the <a href="https://creativecommons.org/policies">the Creative
Commons Trademark Policy</a>:</p>

<pre>
# Creative Commons Icons (custom policy)
images/buttons:
  type: asset
  approved: https://www.drupal.org/node/2314301
  title: Creative Commons Icons
  source: http://cgit.drupalcode.org/creativecommons/tree/images
  license: the Creative Commons Trademark Policy
  rights: https://creativecommons.org/policies
</pre>

<p>The fourth example show how a set how documentation source files
resident in a directory named <code>source</code> are documented.
These files are made available for reuse under a Creative Commons
Attribution Share-Alike 2.0 license.  In this case, there are multiple
contributors so the field <code>copyrightNotice</code> are used to
point downstream recipents to the files with details about copyright
and attributions.  Since this project takes care of its attribution
requirements by other means that the attributions module, the field
<code>hide</code> is set <code>TRUE</code>.  This will stop the
attributions module from displaying the attribution.</p>

<pre>
# Example of use in the a documentation project.
source:
  type: asset
  approved: allowed license
  title: Guide source
  license: CC BY‐SA 2.0
  copyrightNotice: >
    The copyright notices for this directory are located in files
    source/[LANG]/copyright.txt, for each language subdirectory [LANG]. They
    reference attributions in files source/[LANG]/attributions.txt.
  hide: TRUE
</pre>

<p>The final example show how a specific third party library, adopted
to work with Drupal, and re-licensed (with permission from the
original authors) from Apache 2.0 to GPLv2+, is documented.  The
background about the re-licensing can be found by looking up the issue
that is linked to from the <code>approved</code> key.</p>

<pre>
# Bootstrap agency (code).
js/bootstrap_agency.js:
  type: code
  approved: https://www.drupal.org/node/2448043
  title: Bootstrap Agency JS
  license: 'GPLv2+'
  rights: http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
  source: http://startbootstrap.com/template-overviews/agency/
  originalLicense: Apache 2.0
  orginalCopyrightNotice: © 2013-2015 Iron Summit Media Strategies, LLC
  originalTitle: Agency
</pre>

<p>For even more examples of use of this format for attributions, see
the <code>demo/ASSETS.yml</code>.</p>

<p>To see the full syntax available for specifying attributions, see:
<a href="attributions-yaml-format">Attributions YAML format</a>.</p>

