<h2 id="multi">Multiple licenses</h2>

<p>Some projects are made available under multiple licenses, typically
by including more than one license files, or by listing more than one
license separated by commas, or with a conjunction (“and”, “or”).
Examples:</p>

<pre>
  MIT, BSD
  MIT and GPL
  MIT or GPL
  MIT, BSD and GPL
</pre>

<p>If multiple licenses are listed, it is always assumed that the user
can select <em>any</em> of them, not that they must accept all.</p>

<h2 id="gplver">GNU GPL versions</h2>

<p>There exists several versions of the GNU GPL.  Each version is
given a distinguishing version number.  If a code library is simply
licensed under (“GPL”) and does not specify a version number, you're
may choose any version of the GNU GPL ever published by the Free
Software Foundation.  However, to use the library with Drupal, you
should choose (“GNU GPL version 2 and later”.</p>

<p>If a code library specifies a version number of the GNU GPL License
which applies to it and “any later version”, the user have
the <em>option</em> of following the terms and conditions either of
that version or of any later version of GNU GPL published by the Free
Software Foundation.</p>

<p>For example, a code library licensed under one of the following
specifications of the GNU GPL may be used in a project that is
licensed under “GPL version 2 and later”, “GPL version 2”, “GPL
version 3”:</p>

<pre>
  GPL
  GNU GPL version 2 and later
  GNU GPL version 2 or later
  GNU GPL version 2 and any later version
  GPLv2+
</pre>



