<h2 id="project-description">Synopsis</h2>

<p>The <strong>Attributions</strong> module may be used by maintainers
of Drupal modules and themes to create an attribution block or an
attribution page that can be used to display the license and
attribution information about materials (such as code libraries,
fonts, icons and images) that are included in a project distribution,
but is not licensed under the Drupal.org mandatory license
for <em>code</em>: GPLv2+.</p>

<p>The declarations concerning licenses and attributions are pulled from
files named <code>ASSETS.yml</code>.</p>

<p>Please note that this module will do nothing on its own. Only download
and install it if it is listed as required or recommended by another
module or theme.</p>


<h2 id="requirements">Requirements</h2>

<ul>
<li><a href="https://www.drupal.org/project/advanced_help_hint">Advanced help hint</a>:<br/>
  Will link link standard help text to online help and advanced help.</li>
<li><a href="https://www.drupal.org/project/composer_manager">Composer Manager</a>:<br/>
  This module allows modules to depend on PHP libraries managed by Composer.</li>
</ul>

<h2 id="project-recommended">Recommended modules</h2>

<ul>
  <li><a href="https://www.drupal.org/project/advanced_help">Advanced Help</a>:<br/>
  When this module is enabled the administrator will have access to more extensive help.
</ul>

<h2 id="">Installation</h2>

<p>This module has dependencies on an external library that is managed by
Composer Manager.  It is strongly recommended to use drush to enable
the module:</p>

<pre>
drush en attributions
</pre>

<p>If you don't use drush, you need to use the composer CLI tool to
install and update the library.  Navigate to the “Composer File
directory” as configured in the Composer Manager's Settings page and
run the following two commands:</p>

<pre>
composer install --no-dev
composer update --no-dev
</pre>

See also: <a href="https://www.drupal.org/node/2405805">Composer Manager for Drupal 6 and Drupal 7</a> and 
<a href="https://drupal.org/documentation/install/modules-themes/modules-7">Installing modules</a>.

<h2 id="config">Configuration</h2>

<p>After installing and enabling <strong>Attributions</strong> there
will be an attribution block named <em>Attributions block</em>, and an
attribution page when you vist <code>/attributions</code>.</p>

<p>By default, only attributions specified by enabled modules and
themes will be rendered.  To render attributions from <em>all</em>
modules and themes. set the boolean
variable <code>attributions_all</code> TRUE.  You may do this
with <em>drush</em>:</p>

<pre>
drush vset attributions_all TRUE
</pre>

<p>There is no adminsitrative GUI.</p>

<p>Attributions should be placed in a file
named <code>ASSETS.yml</code>, in the module's top directory, using
the standard YAML data serialization format.</p>

<p>To see the full syntax available for specifying attributions, see:
<a href="attributions-yaml-format">Attributions YAML format</a>.  To
see some examples of how you may specify attributions,
<a href="attributions-examples">Examples</a>.</p>
