<p>Attributions should be placed in a file named <code>ASSETS.yml</code>,
in the module's top directory, using the
standard <a href="http://yaml.org/">YAML</a> file format.</p>

<p>For an example of this format, see the <code>demo/ASSETS.yml</code>.</p>

https://en.wikipedia.org/wiki/YAML


